@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200&display=swap');

:root {
    --primary-color: #0C234B;
}

body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Glory';
}

.navbar {
    background: #ab0520;
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight: 700;
        color: var(--primary-color);
        font-size: 1.2em;
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
    }

}


a {
    color: var(--primary-color)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.hero {
    text-align: center;
}

.left-col {

    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color: grey;
        letter-spacing: .3em;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;
    }

    .primary-cta {
        background: var(--primary-color);
        color: #ab0520;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }

}

.hero-img {
    width: 70%;
    margin-top: 3em;
}

.features-section {
    background: var(--primary-color);
}

ul {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

    li.features-list-linked {
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 100px;
            height: 100px;
            background-image: url('../images/icons8-linkedin-circled.svg');
            background-size: contain;
            margin-right: .5em;
            overflow: hidden;
        }
    }
}

ul {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

    li.features-list-github {
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 100px;
            height: 100px;
            background-image: url('../images/icons8-github.svg');
            background-size: contain;
            margin-right: .5em;
            overflow: hidden;
        }
    }
}


ul {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

    li.features-list-facebook {
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 100px;
            height: 100px;
            background-image: url('../images/icons8-facebook-circled.svg');
            background-size: contain;
            margin-right: .5em;
            overflow: hidden;
        }
    }
}

ul {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

    li.features-list-insta {
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 100px;
            height: 100px;
            background-image: url('../images/icons8-instagram-logo.svg');
            background-size: contain;
            margin-right: .5em;
            overflow: hidden;
        }
    }
}



.testimonials-section {
    background: #ab0520;
    color: #ab0520;

    ul {

        li{
            background: var(--primary-color);
            text-align: center;
            padding: 2em 1em;
            width: 80%;
            margin: 0 auto 5em auto;
            border-radius: 1em;

            img {
                width: 5em;
                height: 5em;
                border: 5px solid #ab0520;
                border-radius: 50%;
                margin-top: -4.5em;
            }
        }
    }
}

h2 {
    font-size: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input, textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid grey;
    box-sizing: border-box;
}

.contact-left {
    color: #ab0520;
}


.contact-section {
    position: relative;
    animation: mymove2 2s;
      
    #div2 {animation-timing-function: ease;}
      
    @keyframes mymove2 {
        from {left: -1500px;}
        to {left: 0px;}
    }
}

.container {
    position: relative;
    animation: mymove2 2s;
      
    #div2 {animation-timing-function: ease;}
      
    @keyframes mymove2 {
        from {left: -1500px;}
        to {left: 0px;}
    }
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: #ab0520;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 300px;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #ab0520;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {

        a{
            color: #0C234B;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar, .container {
        display: grid;
        grid-template-columns: 180px auto;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a{
            color: #0C234B;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }

        li.go-premium-cta a {
            color: var(--primary-color);
            border: 3px solid var(--primary-color);
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;

            &:hover {
                background: var(--primary-color);
                color: white;
            }
        }
    }
}

@media only screen and (min-width: 0px) {
    ul {
        display: block;
        margin-left: 5em;

        li.features-list-linked {
            font-size: 1.4em;

            &:before {
                width: 50px;
                height: 50px;
            }
        }
    }

    ul {
        display: block;
        margin-left: 5em;

        li.features-list-github {
            font-size: 1.4em;

            &:before {
                width: 50px;
                height: 50px;
            }
        }
    }

    ul {
        display: block;
        margin-left: 5em;

        li.features-list-facebook {
            font-size: 1.4em;

            &:before {
                width: 50px;
                height: 50px;
            }
        }
    }

    ul {
        display: block;
        margin-left: 5em;

        li.features-list-insta {
            font-size: 1.4em;

            &:before {
                width: 50px;
                height: 50px;
            }
        }
    }

    
}

@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    .container1 {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;

        .left-col {
            margin: 3em 3em 0 5em;

            h1 {
                font-size: 3em;
                width: 90%;
            }
        }
    }

    .hero-img {
        width: 30%;
        margin-right: 8em;
    }

    .hero-cta {
        display: flex;
    }
    .primary-cta {
        margin-right: 1em;
    }


    .features-section {
        position: relative;
    }

    .features-section img {
        display: block;
        position: absolute;
        right: 0;
        width: 350px;
        bottom: -2em;
    }

    .testimonials-section ul {
        display: flex;

        li {
            margin: 0 1em;
        }
    }

    .contact-section {
        position: relative;

        .container1 {
            display: flex;
        }
    }

    .contact-right {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;

        iframe {
            height: 100%;
        }
    }
    
}

@media only screen and (min-width: 200px) {
    .features-section {

        a {
            color: #ab0520;
            font-size: 2em;
            text-decoration: none;
        }


        &:after {
            content: 'Links';
            color: #0C234B;
            text-align: center;
            font-size: 4em;
            font-weight: bold;
            position: absolute;
            width: 200px;
            height: 1em;
            background: #ab0520;
            right: 45%;
            top: .9em;
            animation-name: example;
            animation-duration: 3s;
              
            @keyframes example {
                from {background-color: #0C234B;}
                to {background-color: #ab0520;}
            }

        }
    }
}

