@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
:root {
    --primary-color: #0C234B;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.wilbur-vid {
    padding: 1em;
    background-color: #0C234B
}

body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Glory';
}

.snake-toolbar {
    position: relative;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: #0C234B;
    color: #f2f2f2;
  }

.collatz{
    padding: 5em 20em;
    background-color: #0C234B;
    p {
        color: #f2f2f2;
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;
    }
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

.wws {
    width: 100%;
    height: auto;
    position: relative;

    img {
        margin-top: 0;
    }
}

.wws video {
    width: 100%;
    height: 100%;
}


.header-text {
    position: absolute;
    top: 0;
    left: 0;
    background: #000080;
    height: 100%;
    width: 100%;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4000em;
    font-weight: bolder;
    mix-blend-mode: multiply;
    h1 {
        position: sticky;
        top: 0;
    }
}

.photos {
    background: var(--primary-color);
    //controls padding below nav bar
    padding-top: 0%;

    h1 {
        font-family: 'Glory';
        //controlls font size to 'wow&s' text
        font-size: 5em;
        text-shadow: 0 0 10px #ab0520;
        color: #f2f2f2;
    }
    p {
        font-family: 'Glory';
        font-size: 1em;
    }
}
.photos_2 {
    background: var(--primary-color);
    //controls padding below nav bar
    padding-top: 0%;

    h1 {
        font-family: 'Glory';
        //controlls font size to 'wow&s' text
        font-size: 5em;
        text-shadow: 0 0 10px #ab0520;
        color: #f2f2f2;
    }
    p {
        font-family: 'Glory';
        font-size: 1em;
    }
}


a {
    color: var(--primary-color)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.hero {
    text-align: center;
}


.left-col {

    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color: grey;
        letter-spacing: .3em;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: .2em;
    }

    .primary-cta {
        background: var(--primary-color);
        color: #ab0520;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }

}

.hero-img {
    width: 70%;
    margin-top: 3em;
}
.features-section {
    background: var(--primary-color);

    h1 {
        color: #ab0520;
    }s

    li {
        color: #ab0520;
    }
}



ul.features-list {
    margin: 0;
    padding-left: .1em;
    display: grid;

    li {
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;
    }
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.testimonials-section {
    background: #ab0520;
    color: #ab0520;

    ul {

        li{
            background: var(--primary-color);
            text-align: center;
            padding: 2em 1em;
            width: 80%;
            margin: 0 auto 5em auto;
            border-radius: 1em;

            img {
                width: 5em;
                height: 5em;
                border: 5px solid #0C234B;
                border-radius: 50%;
                margin-top: -4.5em;
            }
        }
    }
}

h2 {
    font-size: 2em;
}


input, textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid grey;
    box-sizing: border-box;
}

.contact-left {
    color: #ab0520;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: #ab0520;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 300px;
}


@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    .container1 {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;

        .left-col {
            margin: 3em 3em 0 5em;

            h1 {
                font-size: 3em;
                width: 90%;
            }
        }
    }

    .hero-img {
        width: 30%;
        margin-right: 8em;
    }

    .hero-cta {
        display: flex;
    }
    .primary-cta {
        margin-right: 1em;
    }


    .testimonials-section ul {
        display: flex;

        li {
            margin: 0 1em;
        }
    }

    .contact-section {
        position: relative;

        .container1 {
            display: flex;
        }
    }

    .contact-right {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;

        iframe {
            height: 100%;
        }
    }
    
}

@media only screen and (min-width: 200px) {
    .features-section {
        width: auto;

        a {
            color: #ab0520;
            font-size: 2em;
            text-decoration: none;
        }
    }
}

.leaderboard {
    width: 100%;
    border-radius: 12px;
    
    header {
      --start: 15%;
      
      height: 130px;
      color: #f2f2f2;
      position: relative;
      border-radius: 12px 12px 0 0;
      overflow: hidden;
      
      .leaderboard__title {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: calc(var(--start) * .75);
        transform: translateY(-50%);
        text-transform: uppercase;
        margin: 0;
        color: #f2f2f2;
        
        span {
          display: block;
        }
        
        &--top {
          font-size: 24px;
          font-weight: 700;
          letter-spacing: 6.5px;
        }
        
        &--bottom {
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 3.55px;
          opacity: .65;
          transform: translateY(-2px);
        }
      }
      
      .leaderboard__icon {
        fill: #f2f2f2;
        opacity: .35;
        width: 50px;
        position: absolute;
        top: 50%;
        left: var(--start);
        transform: translate(-50%, -50%);
      }
    }
    
    &__profiles {
      background-color: #f2f2f2;
      border-radius: 0 0 12px 12px;
      padding: 15px 15px 20px;
      display: grid;
      row-gap: 8px;
    }
    
    &__profile {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      align-items: center;
      padding: 20px 60px 40px 60px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
      cursor: pointer;
      transition: transform .25s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
      background-color: #f2f2f2;
      
      &:hover {
        transform: scale(1.2);
        box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
        background-color: #ab0520;
      }
    }
    
    &__picture {
      max-width: 100%;
      width: 60px;
      border-radius: 50%;
    }
    
    &__name {
      color: #979cb0;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0.64px;
      margin-left: 12px;
    }
    
    &__value {
      color: #35d8ac;
      font-weight: 700;
      font-size: 34px;
      text-align: right;
      
      & > span {
        opacity: .8;
        font-weight: 600;
        font-size: 13px;
        margin-left: 3px;
      }
    }
  }
  
  .leaderboard{
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, .4);
  }

.leaderboard_2 {
    width: 100%;
    border-radius: 12px;

header {
    --start: 15%;
    
    height: 130px;
    color: #f2f2f2;
    position: relative;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    
    .leaderboard__title {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: calc(var(--start) * .75);
    transform: translateY(-50%);
    text-transform: uppercase;
    margin: 0;
    color: #f2f2f2;
    
    span {
        display: block;
    }
    
    &--top {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 6.5px;
    }
    
    &--bottom {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 3.55px;
        opacity: .65;
        transform: translateY(-2px);
    }
    }
    
    .leaderboard__icon {
    fill: #f2f2f2;
    opacity: .35;
    width: 50px;
    position: absolute;
    top: 50%;
    left: var(--start);
    transform: translate(-50%, -50%);
    }
}
}

.leaderboard_2 {
box-shadow: 0 0 40px -10px rgba(0, 0, 0, .4);
}

.row_2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    perspective: none;
  
    .column_2 {
      position: relative;
      padding: 20% 15%;
      cursor: pointer;
      transition: 1s ease-in-out;
      transform-style: preserve-3d;

  
      &:hover {
        transform: rotateY(0.5turn);
      }
  
      .card__face {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: 1s ease-in-out;
  
        &--back {
          transform: rotateY(0.5turn);
        }
      }
    }
  }

  .game-area {
    margin:10px;
    padding:0px;
    background-color: #f2f2f2;
    }
    
    .mode-wrapper {
    color: #000000;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    
    }
    
    .game-area:focus { outline: none; }
    
    a.snake-link, a.snake-link:link, a.snake-link:visited {
    color: #FCFC54;
    }
    
    a.snake-link:hover {
    color: #FfFf54;
    }
    
    .snake-pause-screen {
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position:absolute;
    width:300px;
    height:80px;
    text-align:center;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-150px;
    display:none;
    background-color:black;
    color:white;
    }
    
    .snake-panel-component {
    position: absolute;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    color: #f2f2f2;
    text-align: center;
    padding: 8px;
    margin: 0px;
    }
    
    .snake-snakebody-block {
    margin: 0px;
    padding: 0px;
    background-color: #FF0000;
    position: absolute;
    border: 0px solid #000080;
    background-repeat: no-repeat;
    }
    
    .snake-snakebody-alive {
    background-image: url('/images/matrix-snake-block.png');
    }
    .snake-snakebody-dead {
    background-image: url('/images/deadblock.png');
    }
    
    .snake-food-block {
    margin: 0px;
    padding: 0px;
    background-color: #FF0000;
    border: 0px solid #000080;
    position: absolute;
    background-image: url("/images/matrix-food-block.png")
    }
    
    .snake-playing-field {
    margin: -10px;
    padding: 0px;
    position: relative;
    background-color: #000000;
    border: 0px solid #000000;
    }
    
    .snake-game-container {
    margin: 10px;
    padding: 10px;
    border-width: 0px;
    border-style: none;
    zoom: 1;
    background-color: #ab0520 ;
    position: relative;
    }
    
    .snake-welcome-dialog {
    padding: 8px;
    margin: 0px;
    background-color: #000000;
    color: #ab0520;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 150px;
    margin-top: -100px;
    margin-left: -158px;
    text-align: center;
    display: block;
    }
    
    .snake-try-again-dialog, .snake-win-dialog {
    padding: 8px;
    margin: 0px;
    background-color: #000000;
    color: #ff0000;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    margin-top: -75px;
    margin-left: -158px;
    text-align: center;
    display: none;
    }








  

