<section>
    <div>
        <iframe src="https://trinket.io/embed/python3/ce8f8a7c83?outputOnly=true" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
    </div>
    <div>
        <pre>
            <button onclick="copyCode()">Copy Code</button>
            <code id="code-block" class="python">
                # importing the required module
                import matplotlib.pyplot as plt

                # declare x-axis
                iteration_num_list = []
                x = 0
                iteration_num_list.append(x)

                # check for positive number
                positive = False
                while positive == False:
                    print("Enter any number: ")
                    num = float(input())

                    if num <= 0:
                        print("INVALID, ENTER POSITIVE NUMBER: ")
                        continue
                    else:
                        break


                # declare y-axis
                num_list = []
                num_list.append(num)

                num = 3 * num + 1

                while num > 1:
                    # if num is even, then divide by 2
                    if num % 2 == 0:
                        print(num)
                        num = num / 2
                        # add 1 to the x-axis
                        x = x + 1
                        iteration_num_list.append(x)
                        # add num to the y-axis
                        num_list.append(num)
                        continue
                    # if num is odd, repeat 3(num)+1
                    else:
                        print(num)
                        num = 3 * num + 1
                        # add 1 to the x-axis
                        x = x + 1
                        iteration_num_list.append(x)
                        # add num to the y-axis
                        num_list.append(num)
                        continue

                print(num)
                print("Done!")

                # plotting the points
                plt.plot(iteration_num_list, num_list)

                # naming the x axis
                plt.xlabel('iteration')
                # naming the y axis
                plt.ylabel('x in 3(x) + 1')

                # giving a title to my graph
                plt.title('3(x) + 1')

                # function to show the plot
                plt.show()
            </code>
        </pre>

        <script>
        function copyCode() {
          var code = document.getElementById("code-block");
          var range = document.createRange();
          range.selectNode(code);
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(range);
          document.execCommand("copy");
          alert("Code copied to clipboard!");
        }
        </script>
    </div>
</section>